<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="scripts.js"></script>

  <title>Document</title>
</head>
<body>
  <a class="button" href="#">
    <div class="wrapper_main">
      <div class="compo main">
        <span class="main_text">TOPに戻る</span>
        <span class="main_arrow">→</span>
      </div>
    </div>
    <div class="compo shadow"></div>
  </a>
</body>
</html>
